<!DOCTYPE html>
<html>
<title>Renberi.com</title>
    <link rel="icon" href="bed.png">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="w3.css">
<link rel="stylesheet" href="w3-theme-teal.css">
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <style>.textarea{ height:12em;}</style>
    <script>function goBack() { window.history.back();}</script>
<body>

</body>
<!--header pc start-->
<div class="w3-card-4 w3-hide-small w3-hide-medium">
<header class="w3-container w3-theme">
    <p class="w3-right w3-tiny">Adult Social Media</p>
    <h1><i class="w3-margin-right fa fa-camera"></i>Post</h1>
</header>
</div>
    <!--header pc end-->

    <!--header mobile start-->
<div class="w3-card-4 w3-hide-large">
<header class="w3-container w3-theme">
    <p class="w3-right w3-tiny">Adult Social Media</p>
    <h4 class="w3-small"><i class="w3-margin-right fa fa-camera"></i>Post</h4>
</header>
</div>
    <!--header mobile end-->

     <div class="w3-hide-large w3-theme-l4 w3-padding">
       <%= simple_form_for @post, html: { class: 'form-horizontal', multipart: true } do |f| %>
    <button onclick="goBack()" class="w3-btn w3-tiny w3-theme-l3">
        <i class="w3-margin-right fa fa-chevron-left"></i>Back</button>
  </div>

    <div class="w3-content w3-card-4 w3-container w3-theme-l5">
        <!--post picture start-->
      <div class="w3-margin-bottom">

            <h4 class="w3-theme-l4 w3-container w3-hide-small w3-hide-medium">
                <i class="w3-margin-right fa fa-file-photo-o"></i>Selected Image</h4>

          <h6 class="w3-theme-l4 w3-container w3-hide-large">
                <i class="w3-margin-right fa fa-file-photo-o"></i>Selected Image</h6>

          <div class="w3-center">
            <%= image_tag("bed.png") %>
            <%= f.input :image, class: 'w3-btn w3-margin-top', style: "width:100%" %>
          </div>
     </div>
         <!--post picture end-->
    <form>


        <!--comment start-->
        <div class="w3-border-top w3-margin-bottom">

        <h4 class="w3-margin-top w3-theme-l4 w3-container w3-hide-small w3-hide-medium">
            <i class="w3-margin-right fa fa-quote-right"></i>Caption</h4>

            <h6 class="w3-margin-top w3-theme-l4 w3-container w3-hide-large">
            <i class="w3-margin-right fa fa-quote-right"></i>Caption</h6>


        </div>

        <div class="w3-margin-top">
        <%= f.text_area :caption, class: 'w3-input w3-border textarea w3-small', max_length: '950', placeholder: 'write stuff here...' %>
        </div>
         <!--comment bio start-->


        <div class="w3-margin-top w3-margin-bottom w3-right">

        <!--post button start-->
            <%=f.submit 'post', class:" w3-btn w3-teal w3-large fa fa-paper-plane" %>
              <!--<%= f.submit 'post', class: 'w3-btn w3-teal w3-small' %>-->
        <!--post button end-->
        </div>
   </form>





</div>
<% end %>
</body>
</html>
